body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans';
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.translation-div{
    position: relative;
}
.translateform{
    position: absolute;
    top: 10px;
    right: 10px;
}
.translateform button{
    padding: 5px 10px;
    background-color: #4b8fd7;
    font-size: large;
    border-radius: 10px;
}
.translateform button:hover{
    cursor: pointer;
    background-color: #007bff;
}
.summary, .keywords {
    margin-bottom: 20px;
}
p {
    margin: 0 0 10px;
    text-align: justify;
    text-indent: 10%
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
}
li {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    border-radius: 10px;
    cursor: pointer;   
}
li:hover {
    background-color: #0056b3;
}